header {
    height: @header_height;
    background-color: @color_theme_www_main;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .center_wrap {
        height: @header_height;
    }
    .logo {
        position: absolute;
        top: @distance_small;
        left: @distance_small;
        font-size: 2em;
        font-style: italic;
        .area {
            font-size: 0.8em;
            &:after {
                content: '.';
            }
            [data-area="www"] & {
                display: none;
            }
        }
        [data-area="www"] & {
            color: #CCC;
        }
        [data-area="nature"] & {
            color: #3F3;
        }
    }
}